# An * ensures that everything will be ignored.
*
# You can whitelist files/folders with !, these will not be ignored.
!*.yaml
!*.py
!.gitignore
!*.md
!automations
!zwcfg_0xe71e2c3e.xml
!python_scripts
# link to .storage/lovelace
!lovelace.json 

# Ignore folders.
.storage
.cloud
.google.token

# Ensure these YAML files are ignored, otherwise your secret data/credentials will leak.
ip_bans.yaml
secrets.yaml
known_devices.yaml

